<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RainAU</title>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!--Outer chain style in main.css file-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    
    <body>
        <div class="navbar">
            <a href="{% url 'rainAU:rankRP' %}">Tomorrow's Forecast</a>
            <a href="{% url 'rainAU:charPage' loc='Perth' type=1 %}">Historical Rainfall</a>
            <!-- <a onclick="down_click()" href="{% url 'rainAU:download_csv' %}" download>Download</a> -->
            <a href="https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package/download?datasetVersionNumber=2">Download</a>
        </div>
        <div class="alert alert-success hide">Downloading...Thank you for your patient.</div>

        {% block content %}{% endblock %}

        <div class="footer" >
            <a href="{% url 'rainAU:rankRP' %}" class="return-btn"><i class="fa fa-home"></i>Home</a>
        </div>

    </body>

    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</html>