{% extends "base.html" %}

{% block content %}
    <div class="rank_left">
        <!-- <h1 class="table-light">{{ loc }} Data</h1>
        <table class="table table-striped table-hover">
            <tr><th scope="col">Ranking</th><th>Location</th><th>Rain Probability</th></tr>
        
        {% for i in RainInAu_list %}
            <tr>
                <td>{{ record_date }}</td>
                <td>{{ MinTemp }}</td>
            </tr>
        {% endfor %}

        </table> -->
    </div>

{% endblock %}