{% extends "base.html" %}

{% block content %}
    {% load static %}
    <script src="{% static 'js/map.js' %}"></script>

    <div class="rank_left">
        <h1 class="table-light">Ranking of Rain Probability Tomorrow</h1>
        <table class="table table-striped table-hover">
            <tr><th scope="col">Ranking</th><th>Location</th><th>Rain Probability</th></tr>
        
        {% for key,value in score_rain_rank.items %}
            <tr><td scope="row">{{ forloop.counter}}</td>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
                <td><a href="{% url 'rainAU:htl' %}">Historical Temperature</a></td>
            </tr>
        {% endfor %}

        </table>
    </div>

{% endblock %}