{% extends "base.html" %}

{% block content %}
    {% load static %}
    <script src="{% static 'js/map.js' %}"></script>

    <div class="rank_left">
        <h1 class="text-center"><small class="text-muted">Ranking of Rain Probability Tomorrow</small></h1>
        <blockquote class="blockquote">
            <footer class="blockquote-footer">The first button in detail can access the data graph of past temperatures in the current region</footer>
            <footer class="blockquote-footer">Second is data</footer>
        </blockquote>
        <table class="table table-striped table-hover">
            <tr><th scope="col">Ranking</th><th>Location</th><th>Rain Probability</th><th>Detail</th></tr>
        
        {% for key,value in score_rain_rank.items %}
            <tr><td scope="row">{{ forloop.counter}}</td>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
                <td><a class="btn btn-primary" role="button" href="{% url 'rainAU:htlocation' key %}"></a>
                    <a class="btn btn-success" role="button" href="{% url 'rainAU:rainList' %}"></a></td>
            </tr>
        {% endfor %}

        </table>
    </div>

{% endblock %}